* {
    font-family: 'Titillium Web', sans-serif;
}

body {
    margin: 0;
    background-color: #BCB8B1;
}

nav {
    position: fixed;
    top: 0;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    height: 64px;
    width: 100%;
    background-color: #F5F5F5;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

nav > ul {
    display: flex;
    flex-direction: row;
    gap: 80px;
    list-style-type: none;
    margin: 0px 60px;
}

nav > ul > li {
    font-size: 1.7rem;
}

nav > ul > li:hover {
    cursor: pointer;
}

.nav-item {
    text-decoration: none;
    font-weight: 600;
    color: #252323;
}

.nav-item:hover {
    text-decoration: none;
    color: #3F8EFC;
}

.hero {
    background-color: #BCB8B1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-top: 45px;
}

/* temporary */
.under-nav { 
    margin: 80px;
}

.hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    max-width: min-content;
}

.span-2 {
    grid-column: span 2;
    font-weight: 700;
}

.profile-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.profile-photo {
    height: 350px;
    border: 2px solid #252323;
    border-radius: 100%;
    padding: 3px;
}

.profile-logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

button {
    height: 50px;
    width: 190px;
    border-radius: 5px;
    border: none;
    background-color: #3F8EFC;
    color: #F5F5F5;
    font-weight: 600;
    font-size: 1.5rem;
}

button:hover {
    cursor: pointer;
    color: #3F8EFC;
    background-color: #F5F5F5;
    border: 2px solid #3F8EFC;
}

.contact {
    text-align: center;
    background-color: #BCB8B1;
    color: #252323;
    padding-bottom: 80px;
}

.contact-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 300px);
    justify-content: center;
    margin: 40px 0px;
}

input, textarea {
    border-radius: 10px;
    font-size: 1.2em;
}

.contact-grid > input {
    height: 32px;
}

.contact-grid > textarea {
    height: 128px;
    grid-column: span 2;
}

/* 06a77d - green */