* {
    font-family: 'Titillium Web', sans-serif;
}

body {
    margin: 0;
    background: linear-gradient(to bottom right, #9a8c98, #4a4e69);
    overflow-y: scroll;
}

nav {
    position: fixed;
    top: 0;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    height: 64px;
    width: 100%;
    background-color: #f2e9e4;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

nav > ul {
    display: flex;
    gap: 80px;
    list-style-type: none;
    margin: 0 60px 0 0;
    padding-left: 0;
}

.nav-item {
    font-size: 1.7rem;
    text-decoration: none;
    font-weight: 400;
    color: #4a4e69;
}

.nav-item:hover {
    cursor: pointer;
    text-decoration: none;
    color: #22223b;
}

@media (max-width: 800px) {
    nav {
        height: 40px;
        justify-content: center;
    }
    nav > ul {
        gap: 36px;
        margin: 0;
    }
    .nav-item {
        font-size: 1.2rem;
        text-decoration: none;
        font-weight: 400;
        color: #4a4e69;
    }
    .profile-flex {
        margin-top: 36px;
    }
}

.hero {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding-top: 45px;
}

@media (max-width: 1024px) {
    .hero {
        gap: 10px;
    }
}

.hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 45px;
    max-width: min-content;
    padding-bottom: 45px;
}

/* Utilities */

.span-2 {
    grid-column: span 2;
}

/*  */

.hero-header {
    font-size: 2.4rem;
    text-shadow: 2px 2px #22223b;
    color: #f2e9e4;
}

span {
    color: #f2e9e4;
}

.hero-subheader {
    font-size: 1.2rem;
    color: #22223b;
}

.profile-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.profile-photo {
    max-height: 350px;
    border: 2px solid #22223b;
    border-radius: 100%;
    padding: 3px;
}

.profile-logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

button {
    height: 50px;
    width: 190px;
    border-radius: 5px;
    border: none;
    background-color: #22223b;
    color: #f2e9e4;
    font-weight: 600;
    font-size: 1.2rem;
}

button:hover {
    cursor: pointer;
    color: #f2e9e4;
    background-color: #f2e9e4; 
    border: 1px solid #22223b;
}

.hero-btn {
    height: 50px;
    width: 190px;
    border-radius: 5px;
    border: none;
    background-color: #22223b;
    color: #f2e9e4;
    box-shadow: -2px 2px #f2e9e4; 
    transition: box-shadow .4s ease;
}

.hero-btn:hover {
    cursor: pointer;
    border: none;
    background-color: #22223b;   
    box-shadow: -8px 10px #f2e9e4;
}

.contact {
    text-align: center;
    color: #f2e9e4;
    padding-bottom: 80px;
}

.contact-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, minmax(0, 300px));
    justify-content: center;
    margin: 40px 0px;
}

input, textarea {
    border-radius: 10px;
    font-size: 1.2em;
}

.contact-grid > input {
    height: 32px;
}

.contact-grid > textarea {
    height: 128px;
    grid-column: span 2;
}

.projects-flex {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 100px;
}

.project {
    display: block;
}

.project-title {
    margin: 0px;
    padding: 0px;
    font-weight: 600;
    font-size: 2.6rem;
    font-style: italic;
    color: #22223b;
    text-shadow: 1px 1px #22223b;
}

.project-subtitle {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    color: #f2e9e4cf;
    font-size: 1.4rem;
}

.project-info {
    font-weight: 400;
    font-size: 1.2rem;
}

.project-link {
    font-weight: 400;
    font-style: italic;
    font-size: 1.4rem;
    color: #22223b;
}

.education-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 150px;
}

.education-title > h1 {
    margin: 0px 150px 0px 0px;
    padding: 0px;
    font-weight: 600;
    font-size: 2.6rem;
    color: #22223b;
    text-shadow: 1px 1px #22223b;
}

.education-title > h3 {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-style: italic;
    color: #f2e9e4cf;
    font-size: 1.4rem;
}

.coursework-header {
    margin: 0px;
    padding: 0px;
    font-weight: 600;
    font-size: 2.6rem;
    color: #22223b;
    text-shadow: 1px 1px #22223b;
}

.course-list {
    list-style-type: none;
    padding-left: 0;
    margin: 2px;
}

.course-list > li {
    margin: 5px;
    font-weight: 400;
    font-size: 1.2rem;
}

.utd-emblem {
    width: 200px;
}