* {
    font-family: 'Permanent Marker', 'Gill Sans', Calibri, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    background-color: #F5F5F5;
}

nav {
    display: flex;
    align-items: end;
    justify-content: flex-end;
    height: 80px;
    width: 100%;
    /* position: fixed;
    top: 0; */
    background-image: linear-gradient(#F5F5F5 80%, #e0e0e052);
}

nav > ul {
    list-style-type: none;
    margin: 0px 60px;
}

nav > ul > li {
    display: inline-block;
    margin: 0px 30px;
    font-size: 1.7rem;
    color: #04E762;;
}

nav > ul > li:hover {
    color: #5603AD;
    cursor: pointer;
}

main {
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin: 100px;
}

.hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.span-2 {
    grid-column: span 2;
}

main > img {
    height: 350px;
    border: 2px solid #5603AD;
    border-radius: 100%;
    padding: 3px;
}

button {
    height: 55px;
    width: 210px;
    border-radius: 10px;
    border: none;
    background-color: #04E762;
    color: #F5F5F5;
    font-size: 1.6em;
}

button:hover {
    cursor: pointer;
    color: #04E762;
    background-color: #F5F5F5;
    border: 3px solid #04E762;
}

.contact {
    margin: 200px;
    text-align: center;
    color: #5603AD;
    padding-bottom: 80px;
}

.contact-grid {
    display: grid;
    gap: 1.4em;
    grid-template-columns: repeat(2, 300px);
    justify-content: center;
    margin: 40px 0px;
}

input, textarea {
    border-radius: 10px;
    font-size: 1.2em;
}

.contact-grid > input {
    height: 32px;
}

.contact-grid > textarea {
    height: 128px;
    grid-column: span 2;
}